/*design and model of the HTML page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*background colour for the body*/
body {
    background-color: #d9dcd6;
}

/*background image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/*design and model of section class header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    
}

/*design and model the heading <h1> in class header*/
.header h1{
    display: inline-block;
    font-size: 48px;
    
}
/*colour assignment to Agency title name*/
.header h1 .seo {
    color: #d9dcd6;
}
/*design and model of content in class header <div>*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
    
/*design and model of list <li> in class header*/
.header div ul li{
    display: inline-block;
    margin-left: 25px;

}
/*text color for links in class header*/
a { 
    color:#ffffff;
    text-decoration: none;
}
/*font size for all text in the HTML page*/
p {
    font-size: 16px;
}

 /*design and model of class content*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*position of image in class content*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*position of image in class content*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*design and model for Search Engine Optimization in class content*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*design and model for Online Reputation Management in class content*/
.online-reputation-management{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*design and model for Social Media Marketing in class content*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*design and model of image in class content*/
.content img {
    max-height: 200px;
}

/*design and model of headings in class content*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}



/*design and model of section class benefits*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*design and model of Lead Generation icon*/
.benefit-lead {
    margin-bottom: 32px;
    color:black;
    background:limegreen;
    
}
/*design and model of Brand Awareness icon*/
.benefit-brand {
    margin-bottom: 32px;
    color: black;
    background: limegreen;
}

/*design and model of Cost Management icon*/
.benefit-cost {
    margin-bottom: 32px;
    color: black;
    background: limegreen;
}

/*design and model of headings in class benefits*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}


/*design and model of image in class benefits*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/*design and model of footer element*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*font size for heading in footer element*/
.footer h2 {
    font-size: 20px;
}
